<ul class="local_navigation">
  <li class="menu_button"><a>Home</a></li>
  <li class="menu_button"><a>NBA</a></li>
  <li class="menu_button"><a>NFL</a></li>
  <li class="menu_button"><a>MLB</a></li>
  <li class="menu_button"><a>NHL</a></li>
  <li class="menu_button"><a>CBB</a></li>
  <li class="menu_button"><a>CFB</a></li>
  <li class="menu_button"><a>Nascar</a></li>
  <li class="menu_button"><a>Golf</a></li>
  <li class="menu_button"><a>Soccer</a></li>
  <li class="menu_button"><a>Team Hub</a></li>
  <li class="menu_button"><a>Lifestyle</a></li>
  <li class="menu_button"><a>Dealbook</a></li>
  <li class="menu_button"><a>Video</a></li>
</ul>
