<app-divider title="Photo of the day"></app-divider>
<app-photo-of-the-day></app-photo-of-the-day>
<div class="most_container">
  <div class="most">
    <div class="divider_container">
      <h3><span>Most popular</span></h3>
<!--      <div class="divider"></div>-->
    </div>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
  </div>
  <div class="most">
    <div class="divider_container">
      <h3><span>Most commented</span></h3>
<!--      <div class="divider"></div>-->
    </div>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
  </div>
</div>
